 

<template name="credentials">
<div class="row" style="margin-top:50px;">

    <a href="{{ pathFor 'credentials.create' }}" class="waves-effect waves-light btn modal-trigger" type="button"><i class="mdi-content-add left"></i>add News</a>
    <table class="striped hoverable responsive-table">
        <thead>
            <tr>
                <th data-field="credential">Credential</th>
                <th data-field="sites">Sites</th>
                <th data-field="user">Users</th>
                <th data-field="password">Password</th>
                <th data-field="description">Description</th>
                <th data-field="actions">Actions</th>
            </tr>

        </thead>
        <tbody>
        {{#each credentials}}
            <tr>
                <td>{{platform}}</td>
                <td>{{sites}}</td>
                <td>{{user}}</td>
                <td>{{password}}</td>
                <td>{{description}}</td>
                <td>

                  <a href="#" id="delete" class="btn waves-effect waves-light red darken-3" type="button" name="action" title="DELETE" >
                      <i class="mdi-content-clear "></i>
                  </a>
                  
                  <a href="{{ pathFor 'credentials.edit' }}" class="btn waves-effect waves-light amber lighten-2" title="EDIT">
                      <i class="mdi-content-create "></i>
                  </a>

                  <a class="btn waves-effect waves-light" type="button" name="action" title="SHOW">
                      <i class="mdi-image-remove-red-eye "></i>
                  </a>
                                               
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</div>
</template>