 

<template name="credentials">
<div class="row" style="margin-top:50px;">
<!-- MODAL CREATE -->
<div id="modal1" class="modal">
    <h4>Add new Account</h4>
    <!--<p>this section allow you to create and insert new credential on you mobngo collection</p>-->
    <div class="row">
      <form id="newAccountForm" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input name="credential" id="credential" type="text" class="validate" required>
            <label for="credential">Credential</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="sites" id="sites" type="text" class="validate" required>
            <label for="sites">Sites</label>
        </div>
          <div class="input-field col s6">
            <input name="user" id="user" type="text" class="validate" required>
            <label for="user">User</label>
          </div>

        </div>
        <div class="row">
                  <div class="input-field col s6">
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>
                  <div class="input-field col s6">
            <input name="re-password" id="re-password" type="password" class="validate" required>
            <label for="re-password">Re-Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea" required></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
           <i class="mdi-content-send right"></i>
         </button>
      </form>
    </div>
    <a href="#" class="waves-effect btn-flat modal-close">Agree</a>
</div>
    <button class="waves-effect waves-light btn modal-trigger" type="button"><i class="mdi-content-add left"></i>add News</button>
    <table class="striped hoverable responsive-table">
        <thead>
            <tr>
                <th data-field="credential">Credential</th>
                <th data-field="sites">Sites</th>
                <th data-field="user">Users</th>
                <th data-field="password">Password</th>
                <th data-field="description">Description</th>
                <th data-field="actions">Actions</th>
            </tr>

        </thead>
        <tbody>
        {{#each credentials}}
            <tr>
                <td>{{platform}}</td>
                <td>{{sites}}</td>
                <td>{{user}}</td>
                <td>{{password}}</td>
                <td>{{description}}</td>
                <td>

                  <button class="btn waves-effect waves-light red darken-3" type="submit" name="action" title="DELETE" >
                      <i class="mdi-content-clear "></i>
                  </button>
                  
                  <button class="btn waves-effect waves-light amber lighten-2" type="submit" name="action" title="EDIT">
                      <i class="mdi-content-create "></i>
                  </button>

                  <button class="btn waves-effect waves-light" type="submit" name="action" title="SHOW">
                      <i class="mdi-image-remove-red-eye "></i>
                  </button>
                                               
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</div>
</template>