<template name="login-nav">
  <nav class="col s12">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href=""><i class="mdi-action-account-child left"></i>Account</a></li>
          <li><a href=""><i class="mdi-action-lock-open left"></i> Password</a></li>
          <li><a href=""><i class="mdi-communication-contacts left"></i>Contacts</a></li>
        </ul>
        <!-- Include this line below -->
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-avigation menu"></i></a>
        <!-- End -->

      </div>
  </nav>
</template>