 <template name="login">
 <div class="row" style="margin-top: 100px;">
    <div class="col s12 m6 l6 ">
    {{#if loginMessage}}
      <div class="card-panel red darken-3">
        <span class="white-text">
          <a class="red darken-3" href="#" style="float:right;color:white"><i class="mdi-content-clear"></i></a>  
          {{loginMessage}}
        </span>
      </div>
    {{/if}}
     <form id="signUpForm">
       <div class="row">
         <div class="input-field col s12 m12 l12">
          <i class="mdi-action-account-circle prefix"></i>
           <input id="username" type="text" class="validate">
           <label for="username">Username</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12 m12 l12">
           <i class="mdi-action-lock-open prefix"></i>
           <input id="password" type="password" class="validate">
           <label for="password">Password</label>
         </div>
       </div>
        <div class="row">
         <div class="input-field col s12 m12 l12">
          <button style="float:right" class="btn waves-effect waves-light" type="submit" name="action">
              Login
              <i class="mdi-content-send right"></i>
            </button>
         </div>
       </div>
     </form>
     {{loginMessage}}
     </div>
    <div class="col s12 m6 l6">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec lacus semper, elementum eros eget, dictum leo. Curabitur tempus elit nec bibendum tristique. Fusce eget ultricies nibh. Duis ac eros quis diam vehicula cursus. Duis vestibulum pulvinar ex non ultrices. Donec nec nulla pellentesque nisl dignissim congue vel vitae justo. Praesent porttitor risus sed urna commodo sodales. Duis eu ullamcorper tortor, eu lobortis lorem. Aliquam sed odio neque. Nullam eu scelerisque mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla fermentum massa ut eleifend efficitur. Duis ultrices urna vel arcu sollicitudin dapibus. Suspendisse potenti. Pellentesque maximus maximus eros, eu pretium ligula varius non.

      Nulla facilisis dui sodales laoreet tincidunt. Cras vitae risus nec mi efficitur euismod. Nam id feugiat libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porttitor sem ultrices sem auctor fringilla. Quisque euismod, enim nec tristique ullamcorper, dolor enim ullamcorper nisi, in consectetur augue quam ut ante. Nulla facilisi. Nullam in luctus turpis, vel faucibus dui. Sed ac mi non neque eleifend imperdiet nec et quam. Ut vel tempor leo, ut dictum est. Etiam et tempor augue. Maecenas lacinia pharetra orci vel faucibus. Pellentesque tristique blandit eros a suscipit. Nam non ipsum at lectus tristique ultricies. Cras lorem nunc, gravida a mauris non, suscipit ullamcorper nisl.
    </div>
</div>
 </template>