<template name="login-nav">
<header>
<div class="navbar-fixed">
  <nav class="col s12">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="/register"><i class="mdi-action-account-child left"></i>Register</a></li>
        </ul>
        <!-- Include this line below -->
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        <!-- End -->

      </div>
  </nav>
</div>
</header>
</template>