<template name="nav">
<header>
<div class="navbar-fixed">
  <nav class="col s12 blue darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href=""><i class="mdi-action-account-child left"></i>Account</a></li>
          <li><a href=""><i class="mdi-action-lock-open left"></i> Password</a></li>
          <li><a href=""><i class="mdi-communication-contacts left"></i>Contacts</a></li>
          <li><a href=""><i class="mdi-action-exit-to-app left"></i>Logout</a></li>
        </ul>
        <!-- Include this line below -->
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-avigation menu"></i></a>
        <!-- End -->

      </div>
  </nav>
</div>
</header>
  <script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal();
    });
  </script>
</template>