 <template name="register">

    <div class="row" style="margin-top:50px;">
    <div class=" col s12 m6 l6">
      As tin rangwë mornië, tuv sírë harna osellë ná. Vëa ya línë ainu aldëon, fëa sí vacco vairë, sa armar valinor tul. Nóa ve hérë amilessë, pé yulma úquétima fëa, ter orpano haloitë rá. Ëar manë lauya nu. Cú tárië yulma erë, lanat talan sa tol, yulda vairë nur to. Ve faina naraca yúl, epë rá yelma tengwelë arantyalmë.<br>

      Vië cumna venessë úr, venë rámië nur úr. Ep hat yarë telco, minda tacil up úil. Remba laurëa sai ya. Soica roina litsë axo ma, nulda wilwarin lú fëa. Lú mear suhto tuo, er yen axan hahta carcassë.<br>

      Cú manu téra yávë men, cé pel orpano linwelë leryalehtya. Collo calya arandur ná ván, men tó yarë isqua hísië. Axa ilca hamba lú, fui luinë eteminya ascarima ar. At pica luhta tir, rempa nasta enyárë tál lú.<br>

      Pé handa artaquetta sir, pahta nyéni larca úr sín. Óma lá pica marda. Manwa taniquelassë as úil, turma ascarima low lú, nar pahta liptë tengwanda ai. Pendë liquis hantalë ava lá. Sívë arca vailë up cua, nal varnë simpina pereldar ar. Ama assa nonwa rotelë ve.<br>

      Oli ná telpë eteminya simpetar, ya tar tata yaru yelma, ve rauko arantyalmë lau. Tar metta turúva sulier oa. Nírë telpë isqua nár at, nár celë horta sa. Armar nimba hantalë sú oro, suhto handa nortalarta tó yat. Tó palúrë nahamna pereldar axo. Et tac minda handa valarauko, ana or valdë orosta celayur.<br>
           
    </div>
      <form id="registerForm" class="col s12 m6 l6">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="re-password" type="password" class="validate">
            <label for="re-password">Re-Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="date" type="date" class="datepicker">
            <label for="date">Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s6">
            <button class="btn waves-effect waves-light" type="submit">
                Register!
                <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

 </template>